.pagination {
  border-top: 1px solid $grey-2;
  font-family: $sans-serif;
  margin-top: 2rem;
  padding-top: 1.5rem;
  position: relative;
  text-align: center;

  span {
    color: $default-tint;
    font-size: .9rem;
  }

  .top {
    @include transition(opacity .15s ease-out);
    color: $default-tint;
    font-family: $sans-serif;
    font-size: .9rem;
    letter-spacing: .02em;
    opacity: .8;
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }
  }

  .arrow {
    @include transition(opacity .15s ease-out);
    color: $default-tint;
    font-size: 1.1rem;
    position: absolute;

    &:hover,
    &:focus {
      color: $default-shade;
      opacity: 1;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
